@using NDiscoPlus.LightHandlers.Hue
<h3>HueLightHandlerConfigEditorBridgeError</h3>

@code {
    [CascadingParameter]
    public required HueLightHandlerConfig Config { get; init; }

    [CascadingParameter]
    public required Action ConfigHasChanged { get; init; }
}
